[Unit]
Description=eurekaServer
After=syslog.target

[Service]
User=jaschenk
ExecStart=/opt/springboot/eureka/eurekaServer.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
