[Unit]
Description=testServiceB
After=syslog.target

[Service]
User=jaschenk
ExecStart=/opt/springboot/testServiceB/testServiceB.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
