<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spring Boot Services Deployment Manager -- Configuration</title>
    <link rel="shortcut icon" th:href="@{/images/favicon-spring-leaf.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/all.css}" />
    <link rel="stylesheet" th:href="@{/css/shards.min.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img th:src="@{/images/springboot.png}" width="172" height="63" alt="SpringBoot"/>
<br/>
<h2 style="color:blue;">Services Deployment Manager -- Configuration</h2>
<h6 th:text="${hostInfoLong}"></h6>
<hr/>
<div>
    <p class="my-5"><a href="/deploymentManager" class="btn btn-primary">Services<i class="fas fa-th-list ml-2"></i></a>
        <span th:if="${serviceName}">
        <a th:href="@{/status/{serviceName}(serviceName=${serviceName})}" class="btn btn-primary">
            <span th:text="${serviceName}"></span><i class="fas fa-signal ml-2"></i></a>
        </span>
    </p>
</div>
<div th:switch="${configuration}" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null" style="color:palevioletred;">No Configuration Available</h2>
            <div th:case="*">
                <p th:utext="${configuration}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
