<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Moda Services Deployment Manager -- Service Upload</title>
    <link rel="shortcut icon" th:href="@{/images/favicon-spring-leaf.ico}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/shards.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/additions.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("input[type='submit']").click(function () {
                $("div.spanner").addClass("show");
                $("div.overlay").addClass("show");
            });
        });
    </script>
</head>
<body>
<img th:src="@{/images/springboot.png}" width="172" height="63" alt="SpringBoot"/>
<br/>
<h2 style="color:blue;">Services Deployment Manager -- Upload</h2>
<h6 th:text="${hostInfoLong}"></h6>
<div>
    <p class="my-5"><a href="/deploymentManager" class="btn btn-primary">Services<i class="fas fa-th ml-2"></i></a>
        <span th:if="${serviceName}">
        <a th:href="@{/status/{serviceName}(serviceName=${serviceName})}" class="btn btn-primary">
            <span th:text="${serviceName}"></span><i class="fas fa-signal ml-2"></i></a>
        </span>
    </p>
</div>
<div th:if="${message}">
    <h2 style="color:darkred;" th:text="${message}"/>
</div>
<p class="my-5">
    <form method="POST" enctype="multipart/form-data" th:action="${uploadActionPath}">
        <b>Service Artifact to upload:</b>
        <input type="file" name="file"/>
        <div class="wrapper">
            <input class="btn btn-primary fas fa-arrow-circle-up ml-2" type="submit" value="Upload Artifact"/>
        </div>
    </form>
    <b><i>Files when uploaded, will have a suffix appended ('.new') to each to indicate the file is available for next
        deployment.</i></b><br/>
</p>
<div class="overlay"></div>
<div class="spanner">
    <div class="loader"></div>
    <p>Uploading file for Deployment ...</p>
</div>

</body>
</html>
